visualizations/
logs/*
.idea/
results*
.cache/
*__pycache__*
backup_run_scripts/
old_results
Leaderboard/data_analysis/analysis_results/*
Leaderboard/logs/*
Leaderboard/results/*
PLOSONE/logs/*
PLOSONE/results/*
